img {margin: 10px}
p {margin: 10px}
.small {font-size: 80%}

#graph {
    position: relative;
    float: left;
    margin: auto;
    padding: 0;
    background: #fafafa;
}

#footnotes {
    clear: both;
}

dl.footnotes dd {
    margin-left: 20px;
}

/* floatboxes */
.floatbox {
    display: block;
    position: absolute;
    border: 2px solid #777;
    border-radius: 10px;
    padding: 0;
    z-index: 1000;
    overflow: hidden;
    background: rgba(250,250,250,0.5);
}

/* metadata */
#graph_info {
    top: 10px;
    right: 10px;
    width: 280px;
    min-height: 200px;
}

#metadata {
    position: absolute;
    width: 100%;
    overflow: scroll;
}

#metadata table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    width: 100%;
}

#metadata td,
#metadata th {
    padding: 0 5px;
    vertical-align: top;
    text-align: left;
}

#metadata th {
    background-color: #777;
    color: #fff;
    line-height: 175%;
}

th.done {
}
th.todo {
}
th.maybe {
}

#metadata td.subfield {
    padding-left: 5%;
}

#metadata input, #metadata textarea, #metadata select {
    width: 100%;
}

#toolbox {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 2px solid #777;
    padding: 0;
}
#toolbox .item {
    margin: 2.5px 0 2.5px 5px;
    display: none;
}
#toolbox .item a {
    color: #777;
    font-size: 13px;
}
#toolbox .item a:hover {
    cursor:pointer;
}
#toolbox .add {
    display: inline-block;
}

/* SVG */
.node {
    fill: rgba(200,200,200,0.75);
    stroke: #333;
    stroke-width: 4px;
}

.fixed {
    stroke-width: 2px;
}

.nodetxt {
    stroke-width: 0;
    fill: #000;
    pointer-events: none;
}

.link {
    fill: none;
    stroke: #777;
    stroke-width: 4;
}

.link:hover {
    stroke-width: 6;
}

/* toolbox */
.toolbox rect {
    fill: none;
    stroke: #000;
    stroke-width: 1;
}

/* legend */
.legendbox {
    fill: none;
    stroke: #000;
}

.legend .entry line {
    stroke-width: 4;
}

.legend .entry text {
}

/* Link,arrow types */
.done {
    stroke: #33f;
}
marker .done {
    fill: #33f;
}

.todo {
    stroke: #3d3;
}
marker .todo {
    fill: #3d3;
}

.maybe {
    stroke: #f33;
}
marker .maybe {
    fill: #f33;
}
