img {margin: 10px}
p {margin: 10px}
.small {font-size: 80%}

#graph {
    float: left;
    margin: auto;
    padding: 2.5% 0;
    background: #fafafa;
}

.selector {
    text-align: right;
    padding: 0 4% 0 0;
    clear: right;
}

#footnotes {
    clear: both;
}

dl.footnotes dd {
    margin-left: 20px;
}

/* SVG */
.node {
    fill: rgba(200,200,200,0.75);
    stroke: #333;
    stroke-width: 2px;
}

.nodetxt {
    stroke-width: 0;
    fill: #000;
    pointer-events: none;
}

.link {
    fill: none;
    stroke: #777;
    stroke-width: 4;
}

/* Link,arrow types */
.done {
    stroke: #33f;
}
marker .done {
    fill: #33f;
}

.todo {
    stroke: #3d3;
}
marker .todo {
    fill: #3d3;
}

.maybe {
    stroke: #f33;
}
marker .maybe {
    fill: #f33;
}
